<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <system>
            <yireo_linkpreload>
                <enabled>1</enabled>
                <use_cookie>0</use_cookie>
            </yireo_linkpreload>
        </system>
    </default>
</config>
