<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <dev>
            <debug>
                <server_push>0</server_push>
            </debug>
        </dev>
    </default>
</config>
